<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
          <h1><%= person.name %></h1>         
          <hr>
          <div id="parentList">
            <% person.parents[0].parents.forEach((parent) => {%>
            <a href="/person/<%= parent._id %>" class="link__div">
              <div class="card">
                <div class="card__image">
                  <img src="<%= parent.imageUrl %>" alt="<%= parent.title %>">
                </div>
                <div class="card__name">
                  <%= parent.name %><br>
            
                  <div class="card__group">
                    <div id="bdate" class="card__date">
                      b. <%= parent.birthdateFormatted %>
                    </div>
                    <div id="ddate" class="card__date">
                      d. <%= parent.deathdateFormatted %>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <%})%>
          </div>
          <a href="/admin/edit-person/<%= person._id %>" class="link__div">
            <div class="card">
              <div class="card__image">
                <img src="<%= person.imageUrl %>" alt="<%= person.title %>">
              </div>
              <div class="card__name">
                <%= person.name %><br>

                <div class="card__group">
                  <div id="bdate" class="card__date">
                    b. <%= person.birthdateFormatted %>
                  </div>
                  <div id="ddate" class="card__date">
                    d. <%= person.deathdateFormatted %>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <% person.families.forEach((family) => {%>
          <a href="/person/<%= family.spouse._id %>" class="link__div">
            <div class="card">
              <div class="card__image">
                <img src="<%= family.spouse.imageUrl %>" alt="<%= family.spouse.title %>">
              </div>
              <div class="card__name">
                <%= family.spouse.name %><br>
          
                <div class="card__group">
                  <div id="bdate" class="card__date">
                    b. <%= family.spouse.birthdateFormatted %>
                  </div>
                  <div id="ddate" class="card__date">
                    d. <%= family.spouse.deathdateFormatted %>
                  </div>
                </div>
              </div>
            </div>
          </a>
            <% family.children.forEach((kid) => {%>
            <a href="/person/<%= kid._id %>" class="link__div">
              <div class="card">
                <div class="card__image">
                  <img src="<%= kid.imageUrl %>" alt="<%= kid.title %>">
                </div>
                <div class="card__name">
                  <%= kid.name %><br>
            
                  <div class="card__group">
                    <div id="bdate" class="card__date">
                      b. <%= kid.birthdateFormatted %>
                    </div>
                    <div id="ddate" class="card__date">
                      d. <%= kid.deathdateFormatted %>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <%})%>
          <%})%>
          </div>
        </main>
        <%- include('../includes/end.ejs') %>