<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= person.name %></h1>
            <hr>
            <div>
                <img src="<%= person.imageUrl %>" alt="<%= person.name %>">
            </div>
            <b><%= person.birthdate.toISOString().substr(0,10) %></b>
            <p><%= person.description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>